@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@400;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace; 
}

a {
    color: #000000;
    text-decoration: none;
    text-decoration-color: #000000;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

h2 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #5F5F5F;
}

h3 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

h3:after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #000;
}
