.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.avatar {
    width: 345px;
}

.title {
    justify-self: end;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnGrp {
    margin-top: 50px;
    min-width: 229px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .hero {
        margin-top: 0px;
    }

    .avatar {
        width: 225px;
    }

    .title > h1 {
        font-size: 25px;
    }

    .title > h2 {
        font-size: 13px;
    }
}
